{% extends "../base.html" %}
{% block title %} Gestión de Tareas - Eliminar Tarea {% endblock %}
{% block body %}
    <h1>{{ title }}</h1>
    <form method="post">
        {% csrf_token %}
        <h5>¿Seguro Eliminar?</h5>
        <button type="submit" class="btn btn-danger mt-2">Eliminar</button>
    </form>
    
{% endblock %}