{% extends "../base.html" %}
{% block title %} Gestión de Tareas - Crear Tarea {% endblock %}
{% block body %}
    <h1>{{ title }}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label> {{ form.nombre.label }} </label>
            {{ form.nombre }}
        </div>

        <div class="form-group">
            <label> {{ form.descripcion.label }} </label>
            {{ form.descripcion }}
        </div>

        <div class="form-group">
            <label> {{ form.fecha_limite.label }} </label>
            {{ form.fecha_limite }}
        </div>

        <div class="form-group">
            <label> {{ form.empleado.label }} </label>
            {{ form.empleado }}
        </div>

        <button type="submit" class="btn btn-primary mt-2">Guardar</button>
    </form>
    
{% endblock %}