{% extends "../base.html" %}
{% block title %} Gestión de Tareas - Crear Empleado {% endblock %}
{% block body %}
    <h1>{{ title }}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label> {{ form.codigo_empleado.label }} </label>
            {{ form.codigo_empleado }}
        </div>

        <div class="form-group">
            <label> {{ form.apellidos.label }} </label>
            {{ form.apellidos }}
        </div>

        <div class="form-group">
            <label> {{ form.nombres.label }} </label>
            {{ form.nombres }}
        </div>

        <div class="form-group">
            <label> {{ form.sueldo.label }} </label>
            {{ form.sueldo }}
        </div>

        <button type="submit" class="btn btn-primary mt-2">Guardar</button>
    </form>
    
{% endblock %}