{% extends "../base.html" %}
{% block title %} Gestión de Tareas - {{ title }} {% endblock %}
{% block body %}

<h1>{{ title }}</h1>

<table id="templeados" class="table table-bordered table-hover border-dark">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Nombres</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for e in object_list %}
    <tr>
        <td>{{ e.codigo_empleado }}</td> 
        <td>{{ e.apellidos }}</td>
        <td>{{ e.nombres }}</td>
        <td>
            <button type="button" class="btn btn-primary btn-sm"><i class="fa-solid fa-eye"></i></button>

            <a href="{% url 'empleados_editar' e.id %}" class="btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
            <a href="{% url 'empleados_eliminar' e.id %}" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a class="btn btn-success" href="{% url 'empleados_crear' %}" role="button">Nuevo Empleado</a>
    
{% endblock %}

{% block js %}
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#templeados').DataTable();
        } );
    </script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
{% endblock %}