{% extends "./base.html" %}
{% block title %} {% endblock %}
{% block body %}
    <h1>{{ title }}</h1>
    <table class="table table-dark">
        <thead>
            {% block columns %}
            {% endblock %}
        </thead>
        <tbody>
            {% block rows %}
            {% endblock %}
        </tbody>
    </table>
{% endblock %}